Source: graylog2-server
Priority: extra
Maintainer: Claudio Filho <claudio.filho@locaweb.com.br>
Build-Depends: debhelper (>= 7.0.50~), devscripts
Standards-Version: 3.8.4
Section: java
Homepage: https://github.com/Graylog2/graylog2-server/downloads

Package: graylog2-server
Architecture: all
Depends: ${misc:Depends}, sun-java6-jre | openjdk-6-jre
Description: Graylog2 is an open source syslog implementation
 that stores your logs in ElasticSearch. It consists of a
 server written in Java that accepts your syslog messages
 via TCP or UDP and stores it in the database. The second
 part is a Ruby on Rails web interface that allows you to
 view the log messages. 
